.homeScreen-container{
    background-color: #000000db;
    padding: 20px;
    border-radius: 5px;

}


h1{
    color:  #1e364d; 
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: bold;
}
hr{
  color: white
}

.homeImg{
    width: 100%;
    height: fit-content;
    border-radius: 5px;
  }

  .homeImg-container{

    width: 100%;
    border-radius: 50px;
  }

  .products{
    padding: 30px 20px 0 20px ;
    background-color: #c9c9c9;
    border-radius: 10px;

  }